<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Suite">
  <test name = "ClassTest">
   <classes>  
   <class name ="com.vogella.maven.testngmaven.MyAlbum"/>
    <class name ="com.vogella.maven.testngmaven.MyAlbum_settings"/>    
   </classes>    
   </test>
 </suite>
  
